<a href="https://colab.research.google.com/github/usshaa/GoogleColab/blob/main/StringsPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Converts the first character to upper case

"usha".capitalize()

'Usha'

In [9]:
# Converts string into lower case

"Usha".casefold()

'usha'

In [22]:
# Returns a centered string

s="python"
s.center(12,'*')

'***python***'

In [26]:
# Returns the number of times a specified value occurs in a string

s="I like Chocolates"
s.count('o')

2

In [29]:
# Returns an encoded version of the string

s.encode()

txt = "My name is St√•le"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [31]:
# Returns true if the string ends with the specified value

s.endswith('ates')

True

In [46]:
# Sets the tab size of the string

s="I\tlike\tChocolates"

s.expandtabs(2)

'I like  Chocolates'

In [49]:
# Searches the string for a specified value and returns the position of where it was found

s="I like Chocolates"

s.find('C')

7

In [54]:
# Formats specified values in a string

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [65]:
# Searches the string for a specified value and returns the position of where it was found

s="I like Chocolates"

s.index("like")

2

In [68]:
# Returns True if all characters in the string are alphanumeric

s.isalnum()

s="usha123"

s.isalnum()

True

In [71]:
# Returns True if all characters in the string are in the alphabet

s.isalpha()

s="usha"

s.isalpha()

True

In [73]:
# Returns True if all characters in the string are ascii characters

s.isascii()

True

In [77]:
# Returns True if all characters in the string are decimals

a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

In [83]:
# Returns True if all characters in the string are digits

a = "usha" #unicode for 0
b = "321" #unicode for G

print(a.isdigit())
print(b.isdigit())

False
True

In [84]:
# Returns True if the string is an identifier

a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [86]:
# Returns True if all characters in the string are lower case

a.islower()

False

In [88]:
# Returns True if all characters in the string are numeric

a.isnumeric()

False

In [91]:
# Returns True if all characters in the string are printable

txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

In [96]:
# Returns True if all characters in the string are whitespaces

txt.isspace()

txt = "   "

txt.isspace()

True

In [97]:
# Returns True if the string follows the rules of a title

a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [99]:
# Returns True if all characters in the string are upper case

a.isupper()

True

In [101]:
# Converts the elements of an iterable into a string

','.join(b)

'H,e,l,l,o'

In [103]:
# Returns a left justified version of the string

txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

In [106]:
# Converts a string into lower case

a.lower()

'hello, and welcome to my world'

In [108]:
# Returns a left trim version of the string

txt = "    banana"

txt.lstrip()

'banana'

In [113]:
# Returns a translation table to be used in translations

txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))


txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(txt.maketrans(x, y, z))

Hello Pam!
Hi Joe!
G i Joe!
{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

In [116]:
# Returns a tuple where the string is parted into three parts

txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [119]:
# Returns a string where a specified value is replaced with a specified value

txt = "I could eat bananas all day"

txt.replace('bananas','apples')

'I could eat apples all day'

In [121]:
# Searches the string for a specified value and returns the last position of where it was found

txt.rfind('a')

25

In [122]:
# Searches the string for a specified value and returns the last position of where it was found

txt.rindex('all')

20

In [125]:
# Returns a right justified version of the string

txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

In [129]:
# Returns a tuple where the string is parted into three parts

txt.rpartition('an')

('ban', 'an', 'a')

In [136]:
# Splits the string at the specified separator, and returns a list

txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple', 'banana', 'cherry']
['apple, banana', 'cherry']

In [138]:
# Returns a right trim version of the string

txt = "banana   "
txt.rstrip()

'banana'

In [145]:
# Splits the string at the specified separator, and returns a list

txt = "apple*banana*cherry"

txt.split('*')

['apple', 'banana', 'cherry']

In [148]:
# Splits the string at line breaks and returns a list

txt = "apple\nbanana\ncherry"

txt.splitlines()

['apple', 'banana', 'cherry']

In [150]:
# Returns true if the string starts with the specified value

txt.startswith('app')

True

In [152]:
# Returns a trimmed version of the string

txt = " usha  "

txt.strip()

'usha'

In [154]:
# Swaps cases, lower case becomes upper case and vice versa

txt = "uSHA"

txt.swapcase()

'Usha'

In [156]:
# Converts the first character of each word to upper case

txt = "Converts the first character of each word to upper case"

txt.title()

'Converts The First Character Of Each Word To Upper Case'

In [157]:
# Returns a translated string

#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [158]:
# Converts a string into upper case

txt.upper()

'HELLO SAM!'

In [161]:
# Fills the string with a specified number of 0 values at the beginning

a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000